{% extends 'layout.html.twig' %}
{% block body %}

<div class="container-fluid mt-3 fond">
    <div class="row">
        <div class="col-md-6">
            <h3 class="mb-3 text-bold">
                <i class="fa-brands fa-product-hunt mr-2"></i>
                {{ "Liste des services"|trans }}
            </h3>
        </div>
        <div class="col-md-6">
            <a href="{{ path('app_service_new') }}" class="btn btn-primary float-end"><i class="fa fa-plus"></i>
                Nouvelle mutuelles</a>
        </div>
    </div>
    <hr>

    <table id="liste" class="table table-success-light table-bordered table-hover table-striped text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.nom }}</td>
                <td>{{ service.type }}</td>
                <td class="text-nowrap">
                    <a class="btn btn-success" title="{{ 'Voir'|trans }}"
                       href="{{ path('app_service_show', {'id': service.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn btn-primary" title="{{ 'Modifier'|trans }}"
                       href="{{ path('app_service_edit', {'id': service.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {{ include('service/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Create new</a>
{% endblock %}
