{% extends 'layout.html.twig' %}
{% block body %}

    <div class="container-fluid mt-3 fond">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-3 text-bold">
                    <i class="fa-brands fa-product-hunt mr-2"></i>
                    {{ "Liste des Produits"|trans }}
                </h3>
            </div>
            <div class="col-md-6">
                <a href="{{ path('app_produit_new') }}" class="btn btn-primary float-end"><i class="fa fa-plus"></i> Nouveau produit</a>
            </div>
        </div>
        <hr>

        <table id="liste" class="table table-success-light table-bordered table-hover table-striped text-center">
            <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th class="text-start">{{ 'Designation'|trans }}</th>
                <th>{{ 'Prix'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Tva'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.reference }}</td>
                    <td class="text-start">{{ produit.designation }}</td>
{#                    <td class="text-start">{{ produit.fournisseur[0].adressez }}</td>#}
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.tva ? 'Yes' : 'No' }}</td>
                    <td class="text-nowrap">
                        <a class="btn btn-success" title="{{ 'Voir'|trans }}" href="{{ path('app_produit_show', {'id': produit.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-primary" title="{{ 'Modifier'|trans }}" href="{{ path('app_produit_edit', {'id': produit.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        {{ include('produit/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="17">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
