{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-lg-10 offset-lg-2 mt-4 fond pb-4 pt-3 px-5">
        <h4 class="mb-3 p-2">
            <i class="fa-brands fa-product-hunt mr-2"></i>
            {{ "Détails Produit"|trans }}
        </h4>
        <hr class=" mb-5">
    <table class="table table-success-light table-bordered table-hover table-striped w-100">
        <tbody>
            <tr>
                <th>Reference</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ produit.designation }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ produit.quantite }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ produit.tva ? 'Yes' : 'No' }}</td>
            </tr>
            {% for fournis in produit.fournisseur %}
                <tr>
                    <th>Nom fournisseur</th>
                    <td>{{ fournis.nom }}</td>
                </tr>
                <tr>
                    <th>Telephone fournisseur</th>
                    <td>{{ fournis.telephone }}</td>
                </tr>
                <tr>
                    <th>Email fournisseur</th>
                    <td>{{ fournis.email }}</td>
                </tr>
                <tr>
                    <th>Adresse fournisseur</th>
                    <td>{{ fournis.adresse }}</td>
                </tr>
                <tr>
                    <th>Pays fournisseur</th>
                    <td>{{ fournis.pays }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun fournisseur</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="col-md-3 offset-md-3 pt-3 fond-btn">
            <div class="text-center">
                <a href="{{ path('app_produit_index') }}" class="btn btn-shadow btn-success mb-3">Retour</a>
            </div>
        </div>
</div>

{% endblock %}
